.App {
  text-align: center;
}

.darkMode {
  background-color: rgb(50, 52, 50);
  color: whitesmoke;  
}

.lightMode {
  background-color: rgb(240, 235, 240);
  color: rgb(70, 70, 70);
}
/* 
.darkMode:hover {
  background-color: rgb(70, 72, 70);
}

.lightMode:hover {
  background-color: rgb(220, 215, 220);
}
 */
