.App {
    text-align: center;
    /* font-size: 1em; */
    max-width: 800px;
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .headOfForm {
    
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }

  .headOfFormText{
    font-size: 2em;
    margin-left: 20px;
    font-style: bold;
    
  }

  .themeButton{
    width: 200px;
    height: 80%;
    border-radius: 5px;
    border: 2px solid grey;
    font-size: 1.5em;
  }
  
  .darkMode {
    background-color: rgb(50, 52, 50);
    color: whitesmoke;  
  }
  
  .lightMode {
    background-color: rgb(240, 235, 240);
    color: rgb(70, 70, 70);
  }
  
  .themeButton:hover {

    background-color: grey;
   
  }

  /* .darkMode:hover {
    background-color: rgb(70, 72, 70);
  }
  
  .lightMode:hover {
    background-color: rgb(220, 215, 220);
  }
  
   */